body
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
}
.interface
{
    width: 70%;
    height: 50%;
    /*padding-top: 600px;*/
    margin-left: 80px;
    margin-top: 70px;
    border-radius: 2%;
    position: relative;
}

.theImg
{
    width: 100%;
    height: 100%;
    position: absolute;
}

.theImg img
{
    width: 1200px;
    height: 700px;
}

.interfaceContent
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.interface nav
{
    width: 100%;
    position: absolute;
    left: 10px;
}
.interface .collapse
{
    width: 100%;
    height: 50px;
    margin-left: 300px;
}
.nav-item
{
    width: 20%;
    padding-left: 50px;
}
.navbar-nav
{
    width: 100%;
}
.interface .collapse ul li a
{
    color: white;
    font-size: 14px;
}

.interface .collapse ul li a:hover
{
    color: green;
}

.interface .collapse .page
{
    overflow: hidden;
}

.interface .collapse .page:hover
{
    overflow: visible;
}

.interface .collapse .dropdown-menu
{
    background: rgba(4, 9, 30, 0.9);
    display: block;
}

.interface .collapse .dropdown-menu .dropdown-item:hover
{
    background: rgba(0, 0, 0, 0);
}



.paragraph
{
    position: absolute;
    top: 250px;
    left: 450px;
}
.paragraph p
{
    font-size: 16px;
    color: green;
}

.idea
{
    position: absolute;
    top: 270px;
    left: 300px;
}
.idea h1
{
    font-size: 72px;
    color: white;
}
.interface button
{
    width: 170px;
    position: absolute;
    top: 380px;
    left: 500px;
    background-color: #8ab92d;
    border: 1px solid transparent;
    border-radius: 50px;
}
.interface button:hover
{
    background: transparent;
}
.content
{
    width: 100%;
    height: 300px;
    position: relative;
    top: 700px;
}
.content .sectionContent
{
    padding: 100px;
}
.sectionContent h1 , h4
{
    text-align: center;
}
.sectionContent h4
{
    font-size: 14px;
    color: grey;
}
.cards
{
    width: 100%;
    height: 2000px;
}
.container
{
    padding-top: 50px;
}
.Cardlinks
{
    width: 50%;
    height: 50px;
    margin: auto;
    transition: width 350ms ease-out;
}
.Cardlinks .link
{
    width: 5px;
    color: black;
    margin-left: 70px;
    text-decoration: none;
    transition: width 350ms ease-out;
}
.Cardlinks .link:hover
{
    border-bottom: 1px solid black;
    
}
.Cardlinks .link:active
{
    color: #8ab92d;
}
.col-4 img
{
    border-radius: 10px;
}
.col-4 .boldWord .Link
{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.boldWord
{
    margin-top: 20px;
}
.boldWord , .word
{
    width: 180px;
    height: 30px;
    margin: auto;
}
.boldWord
{
    margin-top: 20px;
}
.word
{
    margin-left: 120px;
}
.col-4 .word .boldLink
{
    text-decoration: none;
    color: #777777;
}
.cardDesign
{
    width: 100%;
    height: 750px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}
.cardDesign .cardDesignImg img
{
    width: 90%;
    height: 70%;
    margin-left: 70px;
    filter: brightness(0.5);
    position: absolute;
    border-radius: 10px;
    z-index: -2;
}
.imgContent
{
    position: absolute;
    top: 150px;
    left: 400px;
    z-index: -1;
}
.imgContent h1 , h4
{
    text-align: center;
    color: white;
}
.imgContent h4
{
    font-size: 14px;
    color: gray;
}
.services-area
{
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: 1;
    top: 300px;
}
.services-area .container .row .col-4 
{
    height: 100%;
    box-shadow: 0px 10px 30px 0px rgb(138 185 45 / 20%);
    background-color: white;
    
    padding: 30px;
    border-radius: 10px;
}
.services-area .container .row .col-4 img
{
    margin-left: 120px;
}
.services-area .container .row .col-4 h4
{
    margin-left: 20px;
    width: 250px;
    padding-top: 10px;
}
.services-area .container .row .col-4 p
{
    width: 320px;
    text-align: center;
}